<% if @followings.size != 0 %>
  <%= "フォロー一覧" %>
  <hr>
  <% @followings.each do |following| %>
    <div>
      <%= link_to following.email, [following] %>
    </div>
  <% end %>
<% else %>
  <%= "フォローしたアカウントはありません" %>
<% end %>